  <div class="sidebar-row-input">
    <select name="tenantName">
      {{#each tenants}}
        <option value="{{displayName}}">{{displayName}}</option>
      {{/each}}
    </select>
  </div>
